{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greencomunidad Direccion</title>
    <link rel="stylesheet" href="{%static '/css/style-ciudad.css'%}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <div class="caja">
        <form action="">

            <h1>DIRECCIÓN</h1>

            <div class="usuario">
                <input type="text" placeholder="Ciudad" required>
            </div>

            <div class="usuario">
                <input type="text" placeholder="Dirección" required>
            </div>

            <div class="usuario">
                <label for="km" class="troll">Distancia dispuesto a recorrer para una votación: </label>
                <select name="Distancia" id="km" class="hola">
                    <option value="1km">1 km</option>
                    <option value="5km">5 km</option>
                    <option value="10km">10 km</option>
                    <option value="20km">20 km</option>
                    <option value="50km">50 km</option>
                </select>
            </div>
            <button type="submit" class="btn">Aceptar</button>
        </form>
    </div>

</body>
</html>
