{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{%static '/css/style-home.css'%}">
    <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>

<body>
    <header>
        <a href="#" class="logo">Green <span>Comunidad</span></a>
        <div class="bx bx-menu" id="menu-icon"></div>

        <ul class="navbar">
            <li><a href="#home" class="home-active">Home</a></li>
            <li><a href="#votacion">Votacion</a></li>
            <li><a href="/votacion">Crear votacion</a></li>
            <li><a href="#acerca">Acerca de</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>

        <!--profile, nueva pagina-->

        <a href="usuario.html"><div class="profile">
            <img src="../static/img/image.png" alt="">
            <span>Benja</span>
            <i class='bx bx-caret-down' ></i>
            <!--
            <div class="user">
                <h2 class="user-title">
                    Tu usuario
                </h2>
            </div>
            -->
        </div></a>


    </header>

    <!--home-->
    <section class="home" id="home">
        <div class="home-text">
            <h1><span>Make</span>Your Comfort <br> Is Our <span>Happiness</span></h1>
            <p>Ayudanos a poder mejorar la salud de las ciudades, participando de estas votaciones.</p>
            <a href="#votacion" class="btn">Votar</a>
        </div>

    </section>


    <!--Votaciones-->

    <section class="votacion" id="votacion">
        <div class="heading">
            <span>Nuestra Seleccion</span>
            <h2>Vota ahora</h2>
        </div>

        <!--contenido (infinito)-->

        <div class="votacion-container">

            <a href="/votacion"><div class="box">
                <img src="../static/img/mas.jpg" alt="">
                <span></span>
                <h2>Crear <br>votacion</h2>
                <h3 class="price"> <span></span></h3>
            </div></a>

            <a href="/votar/"><div class="box">
                <img src="../static/img/image.png" alt="">
                <span>Localidad</span>
                <h2>lugar <br>cantidad</h2>
            </div></a>

            <a href="/votar/"><div class="box">
                <img src="../static/img/image2.png" alt="">
                <span>Localidad</span>
                <h2>lugar <br>cantidad</h2>
            </div>
        </div></a>
    </section>

    <!--Acerca de-->
    <section class="about" id="acerca">
        <img src="../static/img/usm.png" alt="">
        <div class="about-text">
            <span>Acerca de nosotros: </span>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, quibusdam maxime quae unde, fugiat cupiditate omnis tenetur aperiam maiores assumenda nulla fugit deserunt, dignissimos distinctio rem? Vitae incidunt voluptates illum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, ut quos.</p>
        </div>
    </section>

    <!--Creadores-->
    <section class="contacto" id="contacto">
        <h2>Quienes la crearon?</h2>
        <div class="contacto-container">

            <!--creadores n1-->
            <div class="contacto-box">
                <i class='bx bxs-quote-alt-left' ></i>
                <p>Desarrollador de frontend, nuevo de universidad</p>
                <div class="perfil">
                    <img src="../static/img/mclovin.png" alt="">
                    <h3>Carlos Acevedo</h3>
                </div>
            </div>

            <!--creadores n2-->
            <div class="contacto-box">
                <i class='bx bxs-quote-alt-left' ></i>
                <p>Desarrollador de la base de datos, junto con todo el backend</p>
                <div class="perfil">
                    <img src="../static/img/mclovin.png" alt="">
                    <h3>Tomas Castro</h3>
                </div>
            </div>

            <!--creadores n3-->
            <div class="contacto-box">
                <i class='bx bxs-quote-alt-left' ></i>
                <p>Participe del front, y encargado de la API</p>
                <div class="perfil">
                    <img src="../static/img/mclovin.png" alt="">
                    <h3>Luka Caric</h3>
                </div>
            </div>

            <!--creadores n4-->
            <div class="contacto-box">
                <i class='bx bxs-quote-alt-left' ></i>
                <p>Desarrollador de frontend, nuevo de universidad</p>
                <div class="perfil">
                    <img src="../static/img/mclovin.png" alt="">
                    <h3>Benjamin Cegarra</h3>
                </div>
            </div>
        </div>
    </section>

    <!--footer-->

    <section class="footer" id="footer">
        <div class="footer-box">
            <a href="#" class="logo">Green <span>Comunidad</span></a>
            <p>USM, Av. Carlos Julio Arosemena</p>
            <div class="social">
                <i class='bx bxl-facebook' ></i>
                <i class='bx bxl-twitter' ></i>
                <i class='bx bxl-instagram' ></i>
                <i class='bx bxl-gmail' ></i>
            </div>
        </div>
        <div class="footer-box">
            <h2>Categories</h2>
            <a href="#">Votacion</a>
            <a href="#">Crear votacion</a>
            <a href="#">Acerca de nosotros</a>
            <a href="#">Contacto</a>
        </div>
    </section>

</body>
</html>
