{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greencomunidad Log-in</title>
    <link rel="stylesheet" href="{%static '/css/stylelogin.css'%}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <style>
        body {
          background-image: url("{%static 'img/image2.png'%}") no-repeat;
          }
    </style>

</head>
<body>
    <div class="caja">
        <form method="post" action="/validar_usuario">{% csrf_token %}
            <h1>Login</h1>
            <div class="usuario">
                <input type="text" placeholder="Correo" required name="email">
            </div>
            <div class="usuario">
                <input type="password" placeholder="Contraseña" required name="contraseña">
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox"> Recordar </label>
                <a href="#">Olvidaste la contraseña?</a>
            </div>
            <button type="submit" class="btn">Ingresar</button>
            <div class="register-link">
                <p>No tienes una cuenta? <a href="sign-up.html">Registrar</a></p>
            </div>
        </form>
    </div>

</body>
</html>
