* Estilos del header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgreen;
    color: white;
    padding: 20px;
  }
  
  /* Estilos del logo */
  .header .logo {
    font-size: 25px;
  }
  
  /* Estilos de las pestañas */
  .header a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
  }
  
  /* Cambiar el color de la pestaña activa */
  .header a.active {
    background-color: lightgreen;
    color: white;
  }
  
  /* Estilos de la imagen */
  img {
    width: 300px;
    height: 200px;
    border: 3px solid #333;
    box-shadow: 5px 5px 5px #888;
  }
  
  /* Estilos del fondo */
  body {
    background-image: url("https://media.istockphoto.com/id/484156320/es/foto/la-gran-sabana-por-salto-kae-chirimata.jpg?s=2048x2048&w=is&k=20&c=W7ZHENOTF67HfvoZvzIbQgfAjWoEH9ghTofmWooh-EI=qBrhjULDKw092971yrD&ust=1697910758923000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCKDRrs-YhYIDFQAAAAAdAAAAABAJ.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
  }